* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
    background-image: url(../images/wormz.png);
    width: 960px;
    margin: 0 auto;
}
.clearfix {
    content: " ";
    display: block;
    clear: both;
    overflow: auto;
}
h1{
    background-color: darkgoldenrod;
    color: white;
    width: 30%;
}
.content{
    background-color: yellow;
    width: 60%;
}
#random{
    background-color: chartreuse;
}
#score{
    background-color: aqua
}